body{
    background-color: black;
}
#adaptative{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
}
#screen{
    box-sizing: border-box;
    border-radius: 20px;
    /* overflow: hidden; */
    top: 200px;
    width: 600px;
    height: 280px;
    display: flex;
    background-color: white;
    background-image: url(./assets/creepy\ forest.gif);
    background-size: contain;
    justify-content: end;
    align-items: flex-end;
}

#p, #p2{
    color: white;
    font-size: 25px;
    font-family: 'VT323', monospace;
}
#p {
    left: 330px;
    bottom: 220px;
    position: relative;
    background-color: black;
}
#p2{
    margin: 5px;
    text-align: center;
    width: 100%;
}

.cuadrado, .cuadrado2, .cuadrado3
{
   width: 120px;
   height: 120px;
   background-repeat: no-repeat;
   background-size: contain;
   position: absolute;
   margin-bottom: 10px;
}
.cuadrado{
    background-image: url(./assets/kamikaze.gif);
}
.cuadrado2{
    background-image: url(./assets/zombi.gif);
}
.cuadrado3{
    background-image: url(./assets/momia.gif);
}

.cuadrado4{
    margin-bottom: 5px;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 1px solid blue; */
    background-image: url(./assets/perrito-1.gif);
    position: absolute;
}

.cuadrado.moviendo, .cuadrado2.moviendo2, .cuadrado3.moviendo3{
    position: relative;
    animation-name: moving;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background-size: cover;
}

.cuadrado.moviendo{
    animation-duration: 2.2s;
    z-index: 3;
    left: 2000px;
}
.cuadrado2.moviendo2{
    animation-duration: 5s;
    z-index: 3;
    left: 2000px;
}
.cuadrado3.moviendo3{
    animation-duration: 3s;
    z-index: 3;
    right: 300px;
}
.cuadrado4.moviendo4{
    animation-duration: 6s;
    z-index: 4;
    position: relative;
    animation-name: moving-2;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background-size: cover;
}

@keyframes moving-2{
    0% {
        left: -1000px;
    }
    
    100% {
        left: 400px;
    }
}

@keyframes moving{
    0% {
        left: -500px;
    }
    
    100% {
        left: 400px;
    }

}
p{
    color: aliceblue;
}

@media only screen and (max-width: 500px) {
    #screen{
        width: 99.5%;
        height: 200px;
        background-size: 100% 100%;
    }
    .cuadrado, .cuadrado2, .cuadrado3{
        margin-bottom: 8px;
        width: 90px;
        height: 90px;
    }
    #p{
        text-align: center;
        width: 100px;
        left: 200px;
        bottom: 150px;
        color: white;
        font-size: 18px;
    }
}